<!-- ko with: home -->
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@*<canvas id="video-canvas"></canvas>
<script type="text/javascript" src="~/Scripts/jsmpeg.min.js"></script>
<script type="text/javascript">
		var canvas = document.getElementById('video-canvas');
    var url = 'http://192.168.1.10:8088/stream_viewer?topic=/camera/color/image_raw';
    var player = new JSMpeg.Player(url, { canvas: canvas });
    player.play();
</script>*@

<img id="inference" src="http://192.168.1.10:8088/stream?topic=/camera/color/image_raw"/>
<script>
    var newImage = new Image();
    newImage.src = "http://192.168.1.10:8088/snapshot?topic=/camera/color/image_raw";
    var inference = document.getElementById('inference');
    //setInterval(function () {
    //    inference.src = "http://192.168.1.10:8088/snapshot?topic=/camera/color/image_raw";

    //},33)
    //inference.src = "http://192.168.1.10:8088/snapshot?topic=/camera/color/image_raw";

    function updateImage() {
        if (newImage.complete) {
            document.getElementById("inference").src = newImage.src;
            newImage = new Image();
            newImage.src = "http://192.168.1.10:8088/stream?topic=/camera/color/image_raw";
        }

        setTimeout(updateImage, 33);
    }
   // updateImage();
</script>
<div class="row">
    <div class="col-md-4">
        <h2>Your information</h2>
        <p>This section shows how you can call ASP.NET Web API to get the user details.</p>
        <p data-bind="text: myHometown"></p>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript.
            It's now easier than ever before to getting started writing highly interactive web applications.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
